<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<meta charset="utf-8">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%221em%22 font-size=%2280%22>🍲</text></svg>">
	<link rel='stylesheet' type='text/css' href='/style.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/rss.xml'>
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
    </head>
<body>
    <main>
