{{ partial "header.html" . }}

<h1>🍲 Based Cooking 🍳</h1>

<style>
h2 { text-align: center ;}
</style>

<h2>Categories</h2>

{{ partial "tagcloud.html" . }}

<h2>All Recipes</h2>

<ul id=artlist>
{{range.Site.RegularPages}}
<li><a href="{{.Permalink}}">{{.Title}}</a></li>
{{end}}
</ul>

<h2>About this site</h2>

<p>Founded to provide a simple online cookbook without ads and obese web design.
See the story of this site unfold in three videos:</p>

<ol>
    <li><a href="https://odysee.com/@Luke:7/a-demonstration-of-modern-web-bloat:f">A Demonstration of Modern Web Bloat</a></li>
    <li><a href="https://odysee.com/@Luke:7/the-war-against-web-bloat-continues...:a">The War Against Web Bloat Continues</a></li>
    <li><a href="https://odysee.com/@Luke:7/soydevs-destroyed-epic-style-by-based:6">SoyDevs DESTROYED Epic Style by Based Cooking</a></li>
</ol>

<h2>It's easy to contribute!</h2>

<ul>
<li>Submit new recipes using git via <a href="https://github.com/lukesmithxyz/based.cooking">GitHub</a>.</li>
<li>You may also improve recipes or add an image to those without them.</li>
<li>Donate to the individual people who contribute pages whose names are at the bottom of each page.</li>
</ul>

<h2>Donate to the Based.Cooking maintenance fund</h2>

We are funded by you only, not 20MB of ads or privacy-violating trackers per page.

<ul>
    <li>
        <img src="/pix/btc.svg" alt="BTC Logo"> Bitcoin <a href="/pix/bitcoin-based-cooking.png">QR Code</a>  <code>bc1q763s4ud0hgfa66ce64gyh6tsss49vyk5cqcm6w</code>
    </li>
    <li>
        <img src="/pix/xmr.svg" alt="XMR Logo"> Monero <a href="/pix/monero-based-cooking.png">QR Code</a>
        <code>84N9N3DMWhQ9cstHwGEjo8hEvm9bjeYgjV5fLrGK6TmA9iVPjnU7NMUT7gyAc22UgGAVTCUgReQ1J67znhWP3L52Usfw6jg</code>
    </li>
</ul>

{{ partial "footer.html" . }}
