body {
	background: #151515 ;
	color: navajowhite ;
	max-width: 850px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 500px ;
	scrollbar-color: gray #151515;
	font-family: sans-serif ;
}

::-webkit-scrollbar {
	width: .66vw;
	background-color: #151515;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 5px;
}

a {
	color: gold ;
}

.tagcloud a {
	color: darkorange ;
}

a:visited {
	color: darkgoldenrod ;
}

h1 {
	border-style: solid ;
	border-width: 0px 0px 2px 0px ;
	text-align: center ;
}

h2 {
	color: tomato ;
}

footer {
	margin: 3em ;
	text-align: center ;
}

img {
	max-width: 90% ;
	max-height: 400px ;
	margin: auto ;
	display: block ;
}

code {
	overflow-wrap: break-word ;
	color: lime ;
}

.taglist {
	text-align: center ;
	margin-bottom: 2em ;
	margin-top: 2em ;
}

img[alt="BTC Logo"],
img[alt="ETH Logo"],
img[alt="XMR Logo"] {
	max-width: 1em ;
	max-height: 1em ;
	display: inline ;
}

@media (pointer: coarse) {
	li > a {
	    display: block;
		height: 1.5rem
	}
}

@media print {
	a[href] {
		text-decoration: none ;
		color: black ;
	}

	footer,.taglist { display: none ; }

	body {
		margin: 0;
	}


}

@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}
