body {
	background: #151515 ;
	color: #ccc ;
	max-width: 800px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 500px ;
	font-family: sans-serif ;
}

a {
	color: lightblue ;
}

a:visited {
	color: gray ;
}

h1 {
	text-align: center ;
}

h2 {
	color: tomato ;
}

footer {
	text-align: center ;
}

img {
	max-width: 600px ;
	width: 100% ;
	margin: auto ;
	display: block ;
}

code {
	overflow-wrap: break-word ;
	color: lime ;
}

img[alt="BTC logo"],
img[alt="XMR Logo"] {
	max-width: 1em ;
	max-height: 1em ;
	display: inline ;
}

input#search {
  all: unset;
  background: #222;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  width: 100%;
}

.search {
  width: 400px;
  max-width: 85vw;
  position: relative;
  margin: 0.5rem auto 1.2rem;
  display: flex;
}

button.clear-search {
  all: unset;
  position: absolute;
  right: 4px;
  top: 5px;
  height: 30px;
  width: 30px;
  color: #888;
  cursor: pointer;
  transition: color 180ms ease-in-out;
}
button.clear-search:hover {
  color: #eee;
}

@media (prefers-color-scheme: light) {
	body {
		background: white ;
		color: black ;
	}
	a {
		color: blue ;
	}
	a:visited {
		color: purple ;
	}
	h2 {
		color: inherit ;
	}
	code {
		color: forestgreen ;
	}
	input#search {
	  background: #eee;
	  color: #222;
	}
}

@media print {
	a[href] {
		text-decoration: none ;
		color: black ;
	}
}

@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}
