<h2>Recipes</h2>
<input type="text" id="search" placeholder="Search...">

<script>
const rec = document.querySelectorAll('#artlist li')
const search = document.querySelector('#search')

search.addEventListener('change', e => {
  // grab search input value
  const searchText = e.target.value.toLowerCase()
  // for each receipe hide all but matched
  rec.forEach(el => {
    const recipeName = el.innerText.toLowerCase()
    const isMatch = recipeName.includes(searchText)

    el.hidden = !isMatch
  })
})
</script>
<ul id=artlist>
