<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%221em%22 font-size=%2280%22>🍲</text></svg>">
        <link rel="stylesheet" href="./style.css">
        <title>$PAGE_TITLE</title>
        <meta name="description" content="Only Based cooking. No ads, no tracking, nothing but based cooking.">
    </head>
    <body>
