<h2 id="about"> About this site </h2>

<p>Founded to provide a simple online cookbook without ads and obese web design.
See the story of this site unfold in three videos:</p>

<ol>
    <li>
        <a href="https://odysee.com/@Luke:7/a-demonstration-of-modern-web-bloat:f">A Demonstration of Modern Web Bloat</a>
    </li>
    <li>
        <a href="https://odysee.com/@Luke:7/the-war-against-web-bloat-continues...:a">The War against Web Bloat Continues</a>
    </li>
    <li>
        <a href="https://odysee.com/@Luke:7/soydevs-destroyed-epic-style-by-based:6">SoyDevs DESTROYED Epic Style by Based Cooking</a> 
    </li>
</ol>
<h3 id="contribute">It's easy to contribute!</h3>

<ul>
<li>
    Submit new recipes using git via [GitHub](https://github.com/lukesmithxyz/based.cooking).
</li>
<li>
    You may also improve recipes or add an image to those without them.
</li>
<li>
    Donate to the individual people who contribute pages whose names are at the bottom of each page.
</li>
</ul>

<h3 id="donate">Donate to the Based.Cooking maintenance fund</h3>

<p>We are funded by you only, not 20MB of ads or privacy-violating trackers per page.</p>

<ul>
    <li>
        <img src="https://lukesmith.xyz/pix/btc.svg" alt="BTC logo">Bitcoin (<a href="pix/bitcoin-based-cooking.webp">QR code</a>): <code>bc1q763s4ud0hgfa66ce64gyh6tsss49vyk5cqcm6w</code>
    </li>
    <li>
        <img src="https://lukesmith.xyz/pix/xmr.svg" alt="Monero logo"> Monero (<a href="pix/xmr.png">QR code</a>): <code>48jewbtxe4jU3MnzJFjTs3gVFWh2nRrAMWdUuUd7Ubo375LL4SjLTnMRKBrXburvEh38QSNLrJy3EateykVCypnm6gcT9bh</code>
    </li>
    <li>
    <a href="https://lukesmith.xyz/donate">Donate to Luke</a> and add a comment saying it's for Based.Cooking.
    </li>
    <li>
    Brave users may also donate BAT to this website.
    </li>
</ul>