body {
	max-width: 40em ;
	margin: 1em auto ;
	padding: 0 .62em ;
	margin-bottom: 500px ;
	font: 1.2em/1.62 sans-serif ;
}

h1,h2,h3 {
	line-height: 1.2 ;
}

h1 {
	text-align: center ;
}

footer {
	text-align: center ;
}

img {
	max-width: 600px ;
	margin: auto ;
	display: block ;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #fff ;
		background: #000 ;
	}
	a:link  {
		color: #9cf ;
	}
	a:hover, a:visited:hover {
		color: #cef ;
	}
	a:visited { 
		color: #c9f ;
	}
	h2 {
		color: tomato ;
	}
}

@media print{
	body {
		max-width: none ;
	}
}
