body {
	max-width: 800px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 500px ;
}

h1 {
	text-align: center ;
}

footer {
	text-align: center ;
}

img {
	max-width: 600px ;
	margin: auto ;
	display: block ;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #151515 ;
		color: white ;
	}
	a {
		color: lightblue ;
	}
	a:visited {
		color: gray ;
	}
	h2 {
		color: tomato ;
	}
}
