body {
        background-color: #151515 ;
        color: white ;
	max-width: 800px ;
	margin: auto ;
	margin-bottom: 500px ;
}

h1 {
	text-align: center ;
}

footer {
	text-align: center ;
}

img {
	max-width: 600px ;
	margin: auto ;
	display: block ;
}

a {
        color: lightblue ;
}

a:visited {
        color: gray ;
}
