<style>
.cryptocontainer {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
}
.cryptoinfo {
    max-width: 350px ;
    text-align: center ;
    padding-left: 10px ;
    padding-right: 10px ;
}
.cryptoinfo code {
	font-size: small ;
	overflow-wrap: break-word ;
}
.qr {
    max-height: 200px ;
}
</style>
<div class=cryptocontainer>
<div class=cryptoinfo>
<img style="max-height:1em;max-width:1em;display:inline" src=/pix/xmr.svg> Monero </br>
<code style="font-size:xx-small;overflow-wrap:break-word;">84N9N3DMWhQ9cstHwGEjo8hEvm9bjeYgjV5fLrGK6TmA9iVPjnU7NMUT7gyAc22UgGAVTCUgReQ1J67znhWP3L52Usfw6jg</code></br>
<a href=/pix/xmr.png><img class=qr src=/pix/monero-based-cooking.png></a>
</div>
<div class=cryptoinfo>
<img style="max-height:1em;max-width:1em;display:inline" src=/pix/btc.svg> Bitcoin </br>
<code style="font-size:small;overflow-wrap:break-word;">bc1q763s4ud0hgfa66ce64gyh6tsss49vyk5cqcm6w</code></br>
<a href=/pix/btc.png><img class=qr src=/pix/bitcoin-based-cooking.png></a>
</div>
</div>
