<div class=cryptocontainer>
<div class=cryptoinfo>
<div class=cryptotext>
<img alt="" style="max-height:1em;max-width:1em;display:inline" src=/pix/xmr.svg> Monero <br>
<code style="font-size:xx-small;overflow-wrap:break-word;">84N9N3DMWhQ9cstHwGEjo8hEvm9bjeYgjV5fLrGK6TmA9iVPjnU7NMUT7gyAc22UgGAVTCUgReQ1J67znhWP3L52Usfw6jg</code><br>
</div>
<a href=/pix/monero-based-cooking.png><img alt="Monero QR Code" class=qr src=/pix/monero-based-cooking.png></a>
</div>
<div class=cryptoinfo>
<div class=cryptotext>
<img alt="" style="max-height:1em;max-width:1em;display:inline" src=/pix/btc.svg> Bitcoin <br>
<code style="font-size:small;overflow-wrap:break-word;">bc1q763s4ud0hgfa66ce64gyh6tsss49vyk5cqcm6w</code><br>
</div>
<a href=/pix/bitcoin-based-cooking.png><img alt="Bitcoin QR Code" class=qr src=/pix/bitcoin-based-cooking.png></a>
</div>
</div>
